// Typography
body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  line-height: 1.4;
}

// Custom Horizontal Rule with Star Icon
hr.star-light,
hr.star-dark,
hr.star-black {
  max-width: 5rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.15rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light {
  border-color: $white;
}
hr.star-light:after {
  color: $white;
  background-color: $primary;
}

hr.star-black {
  border-color: $black;
}

hr.star-dark {
  border-color: $tertiary;
}
hr.star-dark:after {
  color: $tertiary;
  background-color: $white;
}

// Section Padding Settings
section {
  padding: 7.05rem 0;
  h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1.8em;
    @include heading-font;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 2.8rem;
      line-height: 2.5rem;
    }
  }

  .header-div {
    margin-bottom: 5em;
  }

  .section-description {
    margin-top: 1.5em;
    margin-bottom: 3em;

    a {
      color: $white;
      font-weight: 600;
      text-decoration: underline;
      
      &:focus,
      &:hover,
      &:active {
        color: darken($tertiary, 25%);
        text-decoration: none;
      }
    }
  }

}

.service-heading {
  margin-top: 1em;
}

#testimonials {
  padding: 7.2rem 0 0 0;
} 

// Custom Button Size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

// Custom Rounded Social Button
.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2.2rem;
  background-color: $white !important;
  color: $primary;
}

// Scroll to Top Button
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
  a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: fade-out($gray-900, 0.9);
    line-height: 3.1rem;
  }
}

.margin-auto {
  margin: 0 auto;
}
