// Typography
body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

// Custom Horizontal Rule with Star Icon
hr.star-light,
hr.star-dark,
hr.star-black {
  max-width: 5rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.15rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

// hr.star-light:after,
// hr.star-dark:after {
//   position: relative;
//   top: -.8em;
//   display: inline-block;
//   padding: 0 0.25em;
//   content: '\f005';
//   font-family: FontAwesome;
//   font-size: 2em;
// }

hr.star-light {
  border-color: $white;
}
hr.star-light:after {
  color: $white;
  background-color: $primary;
}

hr.star-black {
  border-color: $black;
}

hr.star-dark {
  border-color: $tertiary;
}
hr.star-dark:after {
  color: $tertiary;
  background-color: $white;
}

// Section Padding Settings
section {
  padding: 7rem 0;
  h2 {
    font-size: 2rem;
    line-height: 2rem;
    @include heading-font;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 2.8rem;
      line-height: 2.5rem;
    }
  }
}

// Custom Button Size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

// Custom Rounded Social Button
.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2.2rem;
  background-color: $white !important;
  color: $primary;
}

// Scroll to Top Button
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
  a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: fade-out($gray-900, 0.5);
    line-height: 3.1rem;
  }
}
