header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.4rem;
    @include heading-font;
  }
  .img-container {
    width: 250px;
    height: 250px;
    margin: 20px auto 40px auto;
    background-image: url("../img/Damiano-Fossa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 50%;
  }
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 7.5rem;
    h1 {
      font-size: 2.6em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.58em;
    }
  }
}
