@mixin body-font() {
	font-family: 'Open Sans', serif;
}

@mixin heading-font() {
	font-weight: 600;
	font-family: 'Metrophobic', sans-serif;
}

@mixin author-font() {
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	color: #9c9c9c;
}

@mixin brand-font() {
	font-family: 'Permanent Marker', cursive;
	letter-spacing: .15em;
}
