@mixin body-font() {
	font-family: 'Cardo', serif;
}

@mixin heading-font() {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

@mixin author-font() {
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	color: #9c9c9c;
}

@mixin brand-font() {
	font-family: 'Permanent Marker', cursive;
	// font-style: italic;
	// font-weight: bold;
	letter-spacing: .15em;
}
