// Styling for the navbar
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include heading-font;
  .navbar-brand {
    color: $white;
    // font-style: italic;
    @include brand-font;
  }
  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    li.nav-item {
      a.nav-link {
        color: $white;
        &:hover {
          color: $white;
        }
        &:active,
        &:focus {
          color: $white;
        }
        &.active {
          color: $secondary;
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}
  
#mainNav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  .navbar-nav {
    margin-top: 0;
  }
  .navbar-nav > li.nav-item > a.nav-link.active {
    color: $primary;
    &:active,
    &:focus,
    &:hover {
      color: $secondary;
    }
  }
}
#mainNav.navbar-shrink {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $white;
  border-bottom: 2px solid $header-border;

  #navbarResponsive {
    border-bottom: none !important;
  }
  .navbar-brand {
    color: $black;
    font-size: 1.6em;
  }
  li.nav-item {
    a.nav-link {
      color: $black;
      &:hover {
        color: $secondary;
      }
      &:active,
      &:focus {
        color: $secondary;
      }
      &.active {
        color: $secondary;
      }
    }
  }
}
#mainNav.fixed-top {
  #navbarResponsive {
    background-color: $white;
    border-bottom: 2px solid $header-border;

    a {
      color: $black;
      margin-left: .5rem;
    }
  }
}

@media(max-width:500px) {
  #mainNav.fixed-top {
    .navbar-brand {
      // color: $black;
      font-size: 1.2em;
    }
  }
}
